{
  "scriptId": "YOUR_GAS_SCRIPT_ID_HERE",
  "rootDir": "",
  "parentId": "YOUR_GOOGLE_SHEET_ID_HERE",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
